*{
    border-radius: 0 !important;
}
html{
    height: 100%;
}
body {
    
    background-image: url(../images/y-so-serious.png);
    
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    /*Arial and Helvetica Neue are both fonts you need to pay for*/
}
.head,.navbar{
    padding: 0px;
    background-color: #FFFFFF;
    overflow: auto;
    /*georgia is a font you have to pay for*/
    position: relative;
    min-height: 70px;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;

}

.container{
    max-width: 960px;
}
.profile{
    /* my own profile picture*/
  max-width:25%;
  /*an arbitrary size before it becomes to small to be recognized*/
  min-width:135px;
  height: auto;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
/*bars between nav-items*/
.nav-item{
   padding-left: 10px;
    padding-right: 10px;
}
.jumbotron{
    padding: 2rem;
}
.title{
    color: #4aaaa5;
    padding-bottom: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-bottom: 1.5rem;
    border-bottom-color: #cccccc;
}
@media screen and (max-width: 991px){
    /*when the navbar stacks horizontally*/
    .navbar-brand{
        padding-top: 35px;
    }
    .nav-item + .nav-item{
        /*create those bars between nav-items*/
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #cccccc;
    }
}
@media screen and (min-width:992px){
    /*when the navbar stacks vertically*/
    .navbar-brand{
        padding-top: .9px;
    }
    .nav-item + .nav-item{
        /*create those bars between nav-items*/
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #cccccc;
    }
}