/*exact values for fonts, font sizes and padding may vary from the correct version
very difficult to tell from picture what is correct*/
body {
  background-color: #79B9C6;
  /*eyedroping tool in paint used to get value*/
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  /* this is close to the correct font but probably not exactly*/
  

}


h1 {
  text-align: left;
  padding: 4px;
  font-size: 14px;
}
section {
  margin: auto;  
  color: black;
  font-size: 12px;
}
h2 {
  padding: 36px;
  font-size: 48px;
}
.center{
  position: fixed;
  top: calc(50% - 72px);
  /*50% of the window's height minus half the height of the box*/
  width: 100%;
  /*this centering solution is based off of the new tab sceen in chrome
   works fairly well*/
}
.btn {
  border-style: solid;
  border-radius: 4px; 
  background-color: transparent;
  padding: 8px;
  border-color: white;
  color: white;
  font-size: 12px;
  cursor: pointer;
}