body {
  background-color: #79B9C6;
  color: white;
  text-align: center;
  font-family: sans-serif; 
  font-weight: bold;
  

}


h1 {
  text-align: left;
  padding: 4px;
  font-size: 14px;
}
h2 {
  margin: auto;  
  color: black;
  font: Big;
  font-size: 12px;
}
h3 {
  padding: 36px;
  font-size: 48px;
}
.center{
  padding: 50px;
}
.btn {
  border-style: solid;
  border-radius: 4px; 
  background-color: transparent;
  padding: 8px;
  border-color: white;
  color: white;
  font-size: 12px;
  cursor: pointer;
}